@import '~bootstrap/scss/bootstrap';
* {
box-sizing: border-box;
}

#appHeader {
position: relative;
background: #092b05;
color: white;
text-align: center;
}
body {
background: black;
}

footer {
background: #092b05;
color: white;
text-align: center;

}

.uiButton {
display: block;
background: #092b05;
color: white;
width: 100%;
border-width: 2px solid #005000;
min-height: 20px;
padding: 10px;
max-width: 500;
margin: 5px;
}

.container {
 height: 50vh;
}



.container--custom {
max-width: 1150px;
margin: 0 auto;
padding: 100 0 100 0; 
}

.global-spacing--large {
margin-top: 50px;
}
.global-spacing--small {
margin-top: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='button'],
input[type='submit'] {
min-height: 20px;
padding: 10px;
max-width: 500px;}
label {
font-size: 16px;
font-weight: bold;
color: #FFF;}
legend {
color: #FFF;
font-size: 25px;
font-weight: bold;
}
fieldset > * {
display: block;
width: 100%;
}
h3,
.h3 {
color: #FFF;
font-size: 18px;
font-weight: bold;
}

#gameBoard .board{
background-image: url("https://wallpapercave.com/wp/wp2116376.jpg");
background-size: cover;}

#post-display {
color: white;
}

#post-display > button {
background: #092b05;
color: white;
}