@import '~bootstrap/scss/bootstrap';

header {
background: #092b05;
color: white;
text-align: center;
}

.nv {
	display: flex;
	max-width: 550px;
}

nav {
	justify-content: center;
}

body {
background: black;
}

footer {
	background: #092b05;
	color: white;
	display: flex;
	justify-content: center;
}
#footertext {
	max-width: 700px;
	margin-top: 15px;
}
#userAlert {
	text-align: center;
}

.authForms {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.forms,
.buttons {
	flex-grow: 1;
	max-width: 500px;
	margin: 0 auto;
}

.postUi {
	max-width: 500px;
	margin: 0 auto;
}

#post-display {
	max-width: 500px;
}
#post-display > button {
	background: #092b05;
	color: white;
	width: 100%;
}


label {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

legend {
	color: #FFF;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

fieldset > * {
	display: block;
	width: 100%;
}

.uiButton {
display: block;
background: #092b05;
color: white;
width: 100%;
border-width: 2px solid #005000;
min-height: 20px;
padding: 10px;
max-width: 500;
margin: 5px;
}

h3,
.h3 {
color: #FFF;
font-size: 18px;
text-align: center;
font-weight: bold;
}


#post-display {
color: white;
}

#post-display > button {
background: #092b05;
color: white;
}

#home-display,
#laws-display {
	color: white;
}

#laws-display {
	max-width: 900px;
	margin: 0 auto;
}



#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
	height: 2.5vh;
}

#post-display > .post {
	border: 2px solid white;
}
